<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-uks-mcp-enhancebim-dev01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/36fd4a06-ffef-4281-b1c2-b3b38bdfbc07/resourceGroups/RG-UKS-MCP-MARKETPLACE-QA01/providers/Microsoft.Web/sites/func-UKS-MCP-ENHANCEBIM-DEV01</ResourceId>
    <UserName>$func-UKS-MCP-ENHANCEBIM-DEV01</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-uks-mcp-enhancebim-dev01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>